.DS_STORE
node_modules
*~
*.pyc
build/
.module-cache
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
__pycache__/
.ipynb_checkpoints
webpack-stats.dev.json
studentapp/static/csv

### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
[Ll]ocal
pyvenv.cfg
pip-selfcheck.json

