<form method="POST" class="post-form">
	{% csrf_token %}
	Same columns: <input type="checkBox" name ='checkBox' value="checked"> 
	<br><br>
	<button type="submit" class="save btn btn-default">Submit</button> 
	<br><br>
        {% for name in names %}
	        {{name}}:
	        <select name="{{name}}">
	        	<option disabled selected value> -- select an option -- </option>
		        {% for field in fields %}
		        	<option value={{field}}>{{field}}</option>  	
		        {% endfor %}
	    	</select>
	    	<br>  
	    	<br>    
	    {% endfor %}
	    <input type="hidden" name="csv_path" value={{csv_path}}>
</form>

